@import "colors.less";
@import "fonts.less";
@import "mixins.less";
@import "preboot.less";
@import "retina.less";

@TotalWidth: 959px;
@ContentWidth: @TotalWidth * .7;
@ProfileWidth: @TotalWidth * .3;

// * * * * * CONTENT STYLES * * * * * * //
body
{
	font-family: @font-family-segoe-light;
	background-color: @Blue4;
	color: @Grey2;
	font-size: 24px;
}

#stripes
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}

section
{
	background-color: @Blue3;
	.rounded-corners(5px);
	padding: 10px;
	margin: 10px;
	.shadow();
}

#header
{
	font-size: 30px;
	font-variant: small-caps;

	hr
	{
		margin: 0;
		padding: 0;
	}

	h1
	{	
		font-family: @font-family-segoe-slight;
		color: @Grey1;
		font-size: 54px;
		margin: 0;
		padding: 5px 0 0 0;
		text-shadow: 7px 7px 0px fadeout(darken(#000000, 20%), 80%);
		font-variant: small-caps;
	}
	img 
	{ 
		padding: 5px;
	}
}

h2 
{
	color: @Orange2;
	margin: 0;
	font-variant: small-caps;
	font-size: 36px;
	text-shadow: 3px 3px 0px fadeout(darken(@Blue3, 20%), 80%);
}

hr 
{
	border-width: 2px; 
	border-color: @Orange3;
}

a { text-decoration: none; }

#contact>div
{
	text-align: center;
}

#footer
{
	text-align: center;
	font-weight: bold;
	a 
	{ 
		color: @Grey1;
		&:hover { color: @Orange2; }
		&:active { color: @Orange1; }	
	}
}

#links 
{
	ul 
	{ 
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li 
	{
		height: 48px;
		margin: 5px;
		width: 100%;
	}

	.button 
	{
	   border-top: 1px solid #f39d12;
	   background: #d35400;
	   background: -webkit-gradient(linear, left top, left bottom, from(#e67e22), to(#d35400));
	   background: -webkit-linear-gradient(top, #e67e22, #d35400);
	   background: -moz-linear-gradient(top, #e67e22, #d35400);
	   background: -ms-linear-gradient(top, #e67e22, #d35400);
	   background: -o-linear-gradient(top, #e67e22, #d35400);
	   padding: 12.5px 25px;
	   -webkit-border-radius: 18px;
	   -moz-border-radius: 18px;
	   border-radius: 18px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: #ffffff;
	   font-family: Helvetica, Arial, Sans-Serif;
	   text-decoration: none;
	   vertical-align: middle;
	   display: block;
   	}
	.button:hover 
	{
	   border-top-color: #d35400;
	   background: #d35400;
	   color: #ffffff;
   	}
	.button:active 
	{
	   border-top-color: #f1c40f;
	   background: #f1c40f;
	   color: #333;
   	}	

	a { 
	   font-size: 18px;
		@media (max-width: 345px) { font-size: 14px; } 
	}
}


// * * * * * IMAGE STYLES * * * * * * //
.animated-head
{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.contact-icon
{
	fill: @Grey2;
	&:hover { fill: @Grey1; .svg-shadow(); }
	&:active { fill: @Blue1; .svg-shadow(); }
	width: 25%;
	height: 100%;
}


// * * * * * MEDIA QUERIES STYLES * * * * * * //
/* Larger than standard 960 (devices and browsers) */
@media only screen and (min-width: 960px) 
{
	#wrapper 
	{ 
		width: @TotalWidth;
		margin-left: auto;
		margin-right: auto; 
	}

	#content
	{
		width: @ContentWidth;
	}

	#side-profile
	{
		img 
		{
			width: 29%;
		}
		
		width: @ProfileWidth;
	}

	.animated-head { }
	.animated-head-mobile { display: none;}
	.contact-icon
	{
		margin: 5px;
		width: 12%;
		height: 100%;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) 
{
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) 
{
	.animated-head { display: none;}
	.animated-head-mobile 
	{ 
		float: left;
		display: inline;
		width: 20%;
	}

	#header
	{
		h1 
		{
			float: left;
			max-width: 70%;
			font-size: 60px;
		}

		hr 
		{
			clear: both;
		}

		img
		{			
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 10px;
		}
	}

	.contact-icon
	{
		margin: 5px;
		width: 12%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) 
{	
	.animated-head { display: none; }
	.animated-head-mobile 
	{ 
		float: left;
		display: inline;
		width: 20%;
	}

	#header
	{
		h1 
		{
			float: left;
			max-width: 70%;
			font-size: 48px;
		}

		hr 
		{
			clear: both;
		}

		img
		{
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 10px;
		}
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) 
{
	.contact-icon
	{
		margin: 5px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) 
{
	#header
	{
		h1 
		{
			font-size: 38px;
		}

		div
		{
			font-size: 22px;
		}
	}

	.contact-icon
	{
		margin: 2px;
	}
}