@font-face 
{
  font-family: 'SegoeUI';
  src: local('SogeoUI'), url('../fonts/segoe-ui-regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUIBold';
  src: local('SogeoUIBold'), url('../fonts/segoe-ui-bold.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUILight';
  src: local('SogeoUILight'), url('../fonts/segoe-ui-light.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUIItalic';
  src: local('SegoeUIItalic'), url('../fonts/segoe-ui-italic.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUISemiBold';
  src: local('SegoeUISemiBold'), url('../fonts/segoe-ui-semibold.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUISemiLight';
  src: local('SegoeUISemiLight'), url('../fonts/segoe-ui-semilight.ttf') format('truetype');
}

@font-family-sogoe:       		'SegoeUI', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sogoe-light:       'SegoeUILight', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sogoe-bold:       	'SegoeUIBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sogoe-italic:      'SegoeUIItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sogoe-semi-bold:   'SegoeUISemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sogoe-semi-light:  'SegoeUISemiLight', "Helvetica Neue", Helvetica, Arial, sans-serif;