@font-face 
{
  font-family: 'SegoeUI';
  src: local('SegoeUI'), url('../fonts/segoe-ui-regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUIBold';
  src: local('SegoeUIBold'), url('../fonts/segoe-ui-bold.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUILight';
  src: local('SegoeUILight'), url('../fonts/segoe-ui-light.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUIItalic';
  src: local('SegoeUIItalic'), url('../fonts/segoe-ui-italic.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUISemiBold';
  src: local('SegoeUISemiBold'), url('../fonts/segoe-ui-semibold.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SegoeUISemiLight';
  src: local('SegoeUISemiLight'), url('../fonts/segoe-ui-semilight.ttf') format('truetype');
}

@font-family-segoe:       		  'SegoeUI', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-segoe-light:       'SegoeUILight', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-segoe-bold:       	'SegoeUIBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-segoe-italic:      'SegoeUIItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-segoe-semi-bold:   'SegoeUISemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-segoe-semi-light:  'SegoeUISemiLight';