.sect_head {
padding: 5px 10px;
cursor: pointer;
position: relative;
background-color:#CCC;
margin:1px;
font-size:20px;
font-weight:bold;
}
.sect_content {
background-color:#F4F4F8;
position: relative;
}

.sect_content div{
	padding: 5px 10px 15px;
}

body{
	width:100%;
    font-family:Verdana;
}

#resume{
	width:7.5in;
	margin-left:auto;
	margin-right:auto;
		
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24pt;
	font-weight: bold;
	text-align:center;
	margin-bottom: 0.05in;
	width:7.1in;
	margin-left:.2in;
	margin-right:.2in;
}

#contactInfo{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
}

.contactLeft {
	text-align: left;
	float: left;
	width: 3.3in;
	margin-left:.45in;
}

.contactRight {
	text-align: right;
	float: right;
	width: 3.3in;
	margin-right:.45in;
}

ul.twocolumn 
{
	width: 7.45in;
}	

ul.twocolumn li 
{
    width: 3.5in;
    float: left;
    padding-right:10px;
    margin-bottom:10px;
	list-style:circle;
}